/* COLOR */



html {
  --background     : hsla(224, 12%, 19%, 1);
  --background-3   : hsla(224, 12%, 19%, 0.4);
  --background-2   : hsla(224, 12%, 19%, 0.2);
  --background-1   : hsla(224, 12%, 19%, 0.1);

  --background-alt : hsla(224, 12%, 14%, 1);

  --primary        : hsla(0, 0%, 100%, 0.8);
  --primary-3      : hsla(0, 0%, 100%, 0.4);
  --primary-2      : hsla(0, 0%, 100%, 0.15);
  --primary-1      : hsla(0, 0%, 100%, 0.05);

  --accent         : hsla(39, 95%, 61%, 1);
  --accent-2       : hsla(39, 95%, 61%, 0.4);
  --accent-1       : hsla(39, 95%, 61%, 0.2);

  --negative       : hsla(20, 70%, 55%, 1);
  --negative-2     : hsla(20, 70%, 55%, 0.4);
  --negative-1     : hsla(20, 70%, 55%, 0.2);

  --positive       : hsla(79, 55%, 63%, 1);
  --positive-2     : hsla(79, 55%, 63%, 0.4);
  --positive-1     : hsla(79, 55%, 63%, 0.16);
}



/* RESET */



html {
  font-size: 14px;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont,
    "Open Sans",
    "Segoe UI", "Helvetica Neue",
    sans-serif;

  text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}
body {
  color: var(--primary);
  background-color: var(--background-alt);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* COMPONENTS */



.root {
}
.root__content {
  background: var(--background);
}

.header {
  padding-top: 108px;
}

.breadcrumb {
  font-size: 21px;
  font-weight: 700;
  line-height: 36px;
  /*color: var(--primary-3);*/
}
.breadcrumb__item {
  text-transform: capitalize;
}
.breadcrumb__item:first-child {
  color: var(--accent);
}
.breadcrumb__item:not(:first-child):before {
  content: " → ";
}

.content {
  max-width: 720px;
  margin: auto;
}

/* title */
.post h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 54px;
}
.post h2 {
  margin-top: 54px;
  font-size: 36px;
  line-height: 48px;
}
.post h3 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 36px;
}
.post p {
  margin-top: 30px;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 36px;
}
.post h2 + p,
.post h3 + p {
  margin-top: 6px;
}
.post img {
  max-width: 100%;
}
